.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initialModal2 {
    display: none;
}

#table {
    display: none;
}

#controls {
    display: none;
}

.modal {
    display: none;
}